body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.center {
  text-align: center;
}

.pad-bottom {
  margin-bottom: 3rem;
}

/* -----------------------
   MOVIEPAGE STYLES ----- */

.score {
    margin-left: 3rem;
    margin-top: -1rem;
}

.quit-button {
  float: right;
  margin-right: 3rem;
  margin-top: 1rem;
}

.badge {
  padding: 0px 10px;
  font-size: 18px;
  line-height: 2;
  background-color: #4059DB;
  border-radius: 30px;
}

.movie-text {
  text-align: left;
    max-width: 49rem;
    margin-left: 8rem;
}

.movie-winner {
  border: solid 5px green;
}

.movie-loser {
  border: solid 5px red;
}
