
.center {
  text-align: center;
}

.pad-bottom {
  margin-bottom: 3rem;
}

.pad-btn-bottom {
  margin: auto;
}

/* -----------------------
   MOVIEPAGE STYLES ----- */

.score {
    margin-left: 3rem;
    margin-top: -1rem;
}

.quit-button {
  float: right;
  margin-right: 3rem;
  margin-top: 1rem;
}

.badge {
  padding: 0px 10px;
  font-size: 18px;
  line-height: 2;
  background-color: #4059DB;
  border-radius: 30px;
}

.movie-text {
  text-align: left;
    max-width: 49rem;
    margin-left: 8rem;
}

.movie-winner {
  color: green;
}

.movie-loser {
  color: red;
}

/* -----------------------
   RESULTPAGE STYLES ----- */

.button-spacing {
  margin-left: 20px;
}


/* -----------------------
   MOBILE ONLY STYLES ----- */

@media only screen and (max-width : 500px) {
   .movie-text {
     text-align: left;
     max-width: 32rem;
     margin-left: 4rem;
   }
   .pad-btn-bottom {
     margin-bottom: 3rem;
   }
 }

/* -----------------------
   TABLET ONLY STYLES ----- */
@media only screen and (min-device-width: 501px) and (max-device-width: 805px) {
   .movie-text {
     text-align: left;
     max-width: 30rem;
     margin-left: 23rem;
   }
   .pad-btn-bottom {
     margin-bottom: 3rem;
   }
 }
